.Homepage-topic{
    padding-left: 30px;
}
section{
    
    padding: 40px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin: 30px;
    font-size: 1.2rem;
}
.sectionFlexBox{
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.sec-flex-left{
    
    width: 50%;
    text-align: left;
}
.sec-flex-right{
    
    width: 50%;
    text-align: center;
}
.sectionFlexBox img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.sectionFlexBox button{
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    margin-top: 50px ;
    font-size: 1.3rem;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;

}
.sectionFlexBox button:hover{
    background-color: #028960;
}
@media (max-width: 918px) {
    section{
        padding: 20px;
    }
    .sectionFlexBox{
        flex-direction: column;
        padding: 20px;
    }
    
    .sectionFlexBox button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sectionFlexBox .sec-flex-left{
        width: 100%;
    }
    .sectionFlexBox .sec-flex-right{
        width: 100%;
    }
}

@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    .sectionFlexBox{
        flex-direction: column;
        padding: 20px;
    }
    
    .sectionFlexBox button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sectionFlexBox .sec-flex-left{
        width: 100%;
    }
    .sectionFlexBox .sec-flex-right{
        width: 100%;
    }
  }