.block-ex{
    display:block;
}

.inline-ex{
    display: inline;
}

.display-box-ex{
    
    overflow: auto;
}
.inline-block-ex{
    display: inline-block;
}

.display-sitcker1{
    position:absolute;
    top: 350px;
    left: 90%;
    width: 100px;
}

@media (max-width:768px) {
    .display-sitcker1{
        left: 84%;
        width: 70px;
        top: 340px;
    }
    
}
