.em-p-out{
    font-size: 30px;
}

.em-p{
    font-size: 30px;
}
.em-c{
    font-size: 0.5em;
}

.e-32px{
    font-size: 32px;
}

.e-2rem{
    font-size: 2rem;
}

.e-100{
    font-size: 100%;
    border:1px solid;
    margin: 20px;
}
.e-40{
    font-size: 40%;
    margin: 20px;
    border:1px solid;
}

.v-10{
    font-size: 10vh;
}
.unit-sti1{
    position:absolute;
    top: 1800px;
    width: 200px;
    left: 70%;
}

@media (max-width:1000px) {
    .unit-sti1{
        display: none;
    }
}